/* CartPopup.css */
.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 80px 20px 20px 20px;
  z-index: 1000;
}

.cart-modal-content {
  background: white;
  width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: crimson;
  color: white;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.cart-item-card {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 6px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 16px;
}

.cart-item-details p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
.remove-btn {
  margin-top: 8px;
  padding: 5px 10px;
  background-color: #ff5a5a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
